{% extends "base.html" %}
{% block landing_nav %}
    {% if not user.is_authenticated %}
    <a href="/login" class="btn btn-primary" style="margin-right: 1px;">Login</a>
    <a href="/signup" class="btn btn-success" style="margin-left: 1px;">Sign Up</a>
    {% endif %}
{% endblock %}

{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 bg-white text-dark d-flex flex-column justify-content-center align-items-center position-relative overflow-hidden p-5 shadow-lg">
        <h2 class="mb-3 text-center">Reset your password</h2>
        <p class="text-center mb-4">Enter the email you signed up with. We'll send you a link to log in and reset your password.</p>
        <form method="post" action="/forgot-password/">
            {% csrf_token %}
            <div class="mb-3 w-100">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn btn-dark w-100 mb-3">Send Verification Code</button>
            <a href="{% url 'login' %}" class="btn btn-outline-dark w-100">Go Back</a>
        </form>
    </div>
    <div class="col-md-6 bg-black text-light d-flex flex-column justify-content-center align-items-center position-relative overflow-hidden p-5 shadow-lg">
        <h2 class="mb-4 text-center">Sometimes a reset is good, and not just for passwords. FlashFlicks has your back.</h2>
        <img src="{% static 'images/thunder.gif' %}" alt="Thunder Animation" class="img-fluid mb-4" style="width: 280px; height: auto;" />
    </div>
</div>
{% endblock %}