<!-- partials/delete_modal.html -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Delete Folder</h2>
        <p>Are you sure you want to delete the folder "<span id="folderName"></span>"?</p>
        <form method="POST" id="deleteForm">
            {% csrf_token %}
            <input type="hidden" name="folder_id" id="folderId">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" id="cancelDelete">Cancel</button>
        </form>
    </div>
</div>